<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="css/adminDashboardCss.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<div class="v7_21">
    <div class="v23_5686">
    <div class="name"></div>
    <div class="name"></div>
    <div class="name"></div>
</div>
    <div class="v46_1329">
        <div class="v89_397"></div>
        <div class="v21_2947"></div>
        <div class="v21_2948"></div>
        <div class="v7_45"></div>
        <span class="v7_46">My Tickets</span>
    </div>
</div>
</body>
</html>