* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.desktop {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

li{
  list-style: none;
}

.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}

img{
  height: 57px;
  width: 100%;


}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}
.dropdown-submenu:hover .dropdown-content {display: block;}



