* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.desktop {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_5686 {
  width: 100%;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 119px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v46_1329 {
  width: 100%;
  height: 174px;
  background: url("../images/v46_1329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

img{
  height: 57px;
  width: 57px;
}
.filter{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 381px;
  overflow: hidden;
}

.personButton {
  width: 57px;
  height: 57px;
  background: url("images/userButton.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 1176px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.bellButton {
  width: 57px;
  height: 57px;
  background: url("static/images/notification.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 1322px;
  overflow: hidden;
}
.myTicketsButton {
  width: 241px;
  height: 55px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 80px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.myTickets {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 135px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    }






.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}


.notification {
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 1329px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}
.userbutton {
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 1129px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}