body {
    background: linear-gradient(to right, white,  azure, paleturquoise, paleturquoise, paleturquoise,lightgreen);
    min-height: 100vh;
    font-size: 50vh;
}
.container {
    max-width: 100%;
    background: white;

    box-shadow: 10px 20px 15px silver;
}


.top-nav{
    box-shadow: 10px 10px 10px silver;
    padding: 10px;
}

.box {
    width: 300vh;
    margin: 50vh auto;
    background: #00bfb6;
    padding: 20vh;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: absolute;
    left: 10vh;
}

.box_left {
    width: 300px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;

}

/*right*/
.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
}

/*left*/
.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}
.footer {
  text-align: center;
  padding: 3px;
}


