* {
    box-sizing: border-box;
}

.container{

}

form{
    background: darkgray;
    margin: 0 auto;
}
.btn {
    padding: 16px;
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}




.fields{
    text-align: center;
}

.nameField{

}
