body {
    background: linear-gradient(to right, white,  azure, paleturquoise, paleturquoise, paleturquoise,lightgreen);
    min-height: 100vh
}
.container {
    max-width: 100%;
    background: white;

    box-shadow: 10px 20px 15px silver;
}


.top-nav{
    box-shadow: 10px 10px 10px silver;
    padding: 10px;
}

.container{

}

form{
    background: darkgray;
    margin: 0 auto;
}
.btn {
    padding: 16px;
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}




.fields{
    text-align: center;
}

.nameField{

}
.footer {
  text-align: center;
  padding: 3px;
}
