body {
    background: linear-gradient(to right, white, azure,  azure, paleturquoise, paleturquoise, paleturquoise,lightgreen);
    min-height: 100vh;
}
.container {
    max-width: 100%;
    background: white;

    box-shadow: 10px 20px 15px silver;
}

.image-blurred-edge{
    background-image: url("images/Logo.png");
    width: 200px;
    height: 200px;
}


.top-nav{
    box-shadow: 10px 10px 10px silver;
    padding: 10px;

}



#ticketTable{
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


@media screen and (max-width: 990px) {
    body{
        font-max-size: 100%;

    }

    table tbody td tr th ::before {
        content: attr(data-label) " ";
        display: block;

    }

    th {
        display: none;
    }


    tr:first-child {
        border-top: medium solid powderblue;
    }

    tr {
        border-bottom: medium solid powderblue;

    }
    td:nth-child(1)::before {
        content: "Text: ";
        font-weight: bold;
    }

    td:nth-child(2)::before {
        content: "Sender: ";
        font-weight: bold;
    }

    td:nth-child(3)::before {
        content: "Ticket Status: ";
        font-weight: bold;
    }

    td:nth-child(4)::before {
        content: "Notification Status: ";
        font-weight: bold;
    }
    td:nth-child(5)::before {
        content: "Actions: ";
        font-weight: bold;
    }



    tbody th {
        display: block;
        font-weight: bold;
    }


    td {
        display: block;
        min-width: 50%;
        padding: .2em 2em;
        text-align: left;
    }


}


.btn {
    padding: 16px;
    background-color: white;
    color: white;
    font-size: 16px;
    border: none;

}


.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding: 10px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-submenu:hover .dropdown-content {
    display: block;
}
.footer {
  text-align: center;
  padding: 3px;
}




