<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/dashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>



    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <a class="navbar- brand" ><img src="images/Logo.png"></a>
</div>
<div class="container">
    <form th:action="@{/admin}" th:object="${admin}" method="GET" class="form-horizontal">
        <div>
            <nav class="top-nav fixed-top" style="background: white">
                <a  id="adminTickets" class="btn btn-primary text-white"  onclick="myFunction()" >My Tickets</a>
                <div class="dropdown">
                    <button type="button" class="btn btn-info px-3"><i class="bi bi-funnel"></i></button>
                    <div class="dropdown-content">
                        <li class="menu">
                            <a class="dropbtn" tabindex="-1">Status<span class="caret"></span></a>
                            <ul class="dropdown-submenu">
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="open">Open</a></li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="closed">Closed</a></li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="in process">In process</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu">
                            <a class="dropbtn" tabindex="-1">Prioritization<span class="caret"></span></a>
                            <ul class="dropdown-submenu">
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="high">High</a></li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="medium">Medium</a></li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="low">Low</a></li>
                            </ul>
                        </li>
                        <li class="menu">
                            <a class="dropbtn" tabindex="-1">Incident<span class="caret"></span></a>
                            <ul class="dropdown-submenu">
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="inactivity">Inactivity</a>
                                </li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="technical">Technical
                                    problems</a>
                                </li>
                                <li><a class="btn dropbtn" tabindex="-1" data-filter="other">Other</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="form-inline" style="float:right">
                    <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-bell "></i></button>
                    <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-person-circle"></i></button>
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-primary px-3 mr-2"><i class="bi bi-box-arrow-right"></i>
                        </button>
                    </a>
                </div>
                <br/><br/>
            </nav>
        </div>
       </br>

        <form th:action="@{/findAllTickets}" method="GET" class="form-horizontal">
            <table class="table table-bordered table-striped" id="ticketTable" data-toggle= data-filter-control="true">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Prioritization</th>
                    <th>Incident</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Admin</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>

                <tbody id="myTable">
                <!--TODO get the correct method declarations-->
                <tr th:each="ticket: ${tickets}">
                    <td th:text="${ticket.getTitle()}"/>
                    <a th:switch="${ticket.getPrio().toString()} ">
                        <a th:case="${'LOW'}" >
                            <td> <span class="badge text-white" style="background-color: #00E676" th:text="${ticket.getPrio().toString()}"></span></td>
                        </a>
                        <a th:case="${'MEDIUM'}" >
                            <td> <p style="display:none">i</p><span class="badge text-white" style="background-color: #FFEA00" th:text="${ticket.getPrio().toString()}"></span></td>
                        </a>
                        <a th:case="${'HIGH'}" >
                            <td> <span class="badge text-white" style="background-color: #F93154" th:text="${ticket.getPrio().toString()}"></span></td>
                        </a>
                    </a>
                    <td th:text="${ticket.getCategorization().toString().toLowerCase()}"/>
                    <td th:text="${ticket.getCreationTimeString(ticket.getCreationTime())}"/>
                    <td th:text="${ticket.getUser().getUsername()}"/>
                    <td th:text="${ticket.getResponsibleAdmin().getUsername()}"/>
                    <a th:switch="${ticket.getStatus().toString()} ">
                        <a th:case="${'OPEN'}">
                            <td> <span class="badge text-white" style="background-color: #F93154" th:text="${ticket.getStatus().toString()}"></span></td>
                        </a>
                        <a th:case="${'IN_PROCESS'}">
                            <td> <span class="badge text-white"  style="background-color: #FFEA00" th:text="${ticket.getStatus().toString()}"></span></td>
                        </a>
                        <a th:case="${'CLOSED'}">
                            <td> <span class="badge text-white" style="background-color: #00E676" th:text="${ticket.getStatus().toString()}"></span></td>
                        </a>
                    </a>
                    <td>
                        <a class="btn btn-info text-white"
                           th:onclick="'window.location.href=\'/showTicketAdmin?ticketId=' + ${ticket.getTicketId()} + '\''">Show
                            Ticket</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </form>
</div>
<script>

    $(document).ready(function () {
        $(".dropdown-submenu li").on('click', 'a', function () {
            var value = $(this).attr('data-filter').toLowerCase();
            console.log(value);
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });



    $(document).ready(function(){
    $('#ticketTable').DataTable({

        "columns": [{
            "orderable": true
        },
            {"orderable": true},
            {"orderable": true},
            {"orderable": true},
            {"orderable": true},
            {"orderable": true},
            {"orderable": true},
            {
                "orderable": false,

            }],


    });
    });

  /* $(document).ready(function(){

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount:5,
            searchResultLimit:5,
            renderChoiceLimit:5
        });


    });*/

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var valueA = /*[[${admin}]]*/ "" ;


    /*]]>*/
    const btn =document.getElementById('adminTickets');
    var value = valueA.username.toString();

    function myFunction() {
        const initialText = 'My Tickets';
        if(btn.textContent.toLowerCase().includes(initialText.toLowerCase())) {
            btn.textContent = 'All Tickets';
            var value1 = value;
            $("#ticketTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value1) > -1)
            });
        } else {
            btn.textContent = initialText;
            $("#ticketTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf("") > -1)
            });




        }
    }


</script>
</body>
</html>