<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/static/chat.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Chat</title>

</head>
<body>
<div class="container">
    <div>
        <nav class="top-nav fixed-top" style="background-color: white">
            <div class="container-fluid">
                <div class="form-inline" style="float:left">
                    <a th:href="@{/back}">
                        <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-house"></i></button>
                    </a>
                </div>
                <div class="form-inline" style="float:right">
                    <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-person-circle"></i></button>
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-primary px-3 mr-2"><i class="bi bi-box-arrow-right"></i>
                        </button>
                    </a>
                </div>

            </div>
            </br>
        </nav>
    </div>
    <form th:action="@{/getMessages}" th:object="${user}" method="GET" class="form-horizontal">
        <br/><br/>
        <h3>Chat</h3>
        </hr>
        <form th:action="@{/findAllMessages}" method="GET" class="form-horizontal">
            <div class="card">
                    <a th:each="message: ${messages}">
                        <a th:switch="${message.getAuthor()} ">
                            <a th:case="${user}">
                                <div class="row">
                                    <div class="box sb1" style="left: 10px"><p th:text="${message.getText()}"/></p>
                                    </div>
                                </div>
                            </a>
                            <a th:case="*">
                                <div class="row">
                                    <div class="box sb2"><p th:text="${message.getText()}"/></p>
                                    </div>
                                </div>
                            </a>
                        </a>
                    </a>
                    </a>
                <form th:action="@{/saveMessage}" th:object="${message}" method="POST">
                <input name="text" minlength="2" maxlength="50" rows="10" cols="80" style="margin-top: 10px"
                       th:field="*{text}"
                       placeholder="Insert your message" class="form-control col-4 mb-4">
                </form>
            </div>

        </form>
    </form>
</div>
<script type="text/javascript" src="static/js/chat.js"></script>
</body>
</html>

