<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/adminDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>
    <title>Chat</title>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var receiver = /*[[${receiver}]]*/ null;
    var author = /*[[${author}]]*/ null;
    var ticket = /*[[${ticket}]]*/ null;
    var timestamp = /*[[${timestamp}]]*/ null;

    var message = /*[[${message}]]*/ null;
    /*]]>*/
</script>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container">
    <div>
        <nav class="top-nav fixed-top" style="background-color: white">
            <div class="container-fluid">
                <div class="form-inline" style="float:left">
                    <a th:href="@{/back}">
                        <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-house"></i></button>
                    </a>
                </div>
                <div class="form-inline" style="float:right">
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-primary px-3 mr-2"><i class="bi bi-box-arrow-right"></i>
                        </button>
                    </a>
                </div>

            </div>
            </br>
        </nav>
    </div>
    <br/><br/></br></br>
    <h3>Chat for ticket with id: <span th:text="${ticket.getTicketId()}"></span></h3>
    <hr/>
    <div>
        <div id="chat-page">
            <div class="chat-container">

                <ul id="messageArea">
                    <div class="row">
                    <li class="chat-message" style="background-color: #E0F7FA">
                        <span class="badge text-white" style="background-color: #5BC0DE">Title:</span>&nbsp;
                        <span th:text="${ticket.getTitle()}" style="background-color: #E0F7FA"></span></br>
                        <p th:text="${ticket.getContent()}"></p></li>
                    </div>
                    <a th:each="message : ${messages}">
                        <a th:if="${message.getAuthor() == author}">

                                <div class="row">
                                    <div class="right">
                                        <li class="chat-message-right">
                                        <span class="badge text-white" style="background-color: #5BC0DE"
                                              th:text="You"></span>
                                        <span class="timeClass"
                                              th:text="${message.getCreationTimeString(message.getCreationTime())}"></span></br>
                                        <p th:text="${message.getText()}"></p></li>
                                    </div>
                                </div>

                        </a>
                        <a th:if="${message.getAuthor() != author}">

                                <div class="row">
                            <li class="chat-message">
                                        <span class="badge text-white" style="background-color: #5BC0DE"
                                              th:text="${message.getAuthor().getUsername()}"></span>
                                        <span class="timeClass"
                                              th:text="${message.getCreationTimeString(message.getCreationTime())}"></span>
                                        <p th:text="${message.getText()}"></p>
                            </li>
                                </div>

                        </a>
                    </a>
                </ul>
                <form id="messageForm" name="messageForm">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group clearfix">

                                <input type="text" id="messageInput" class="form-control"
                                       placeholder="Type a message...    (max.  255 chars)" minlenght="1">

                                <button id="send" class="btn btn-info" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </form>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


        <a th:href="@{/back}" class="btn btn-primary" onclick="disconnect()">Back</a>
    </div>
    </br>
</div>
<br>
<footer>
    <div class="footer">
        <p><a th:href="@{/imprint}">Imprint</a></p>
        <p>©1996-2022 Gebrauchtwaren GmbH</p>
    </div>
</footer>
</body>
</html>