<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/static/createTicket.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title> create Ticket </title>
</head>
<body>
<div class="container">
    <form  th:action="@{/createTicket}"  method= "POST" class="form-horizontal">
    </form>
    <br/><br/>
    <h1>Create a Ticket</h1>
    <hr/>
    <div class="fieldContainer">
        <form th:action="@{/saveTicket}" th:object="${ticket}" method="POST">
            <br/>
            <div class="selection"> Select incident:
                <select th:field="*{categorization}">
                    <option th:value="'technical problem'" th:text="technicalProblem"> TECHNICAL_PROBLEM</option>
                    <option th:value="'inactivity'" th:text="inactivity"> INACTIVITY</option>
                    <option th:value="'other'" th:text="other"> OTHER</option>
                </select>
            </div>
            </br> </br>
            <textarea name="problemspecification" rows="10" cols="80" style="margin-top: 10px"
                      th:field="*{content}"
                      placeholder="Describe your problem" class="form-control col-4 mb-4"></textarea>
            <button class="btn btn-primary" type="submit">submit</button>
        </form>
        <hr/>
        <a th:href="@{/back}" class ="btn btn-primary">Back</a>
    </div>
</div>

</body>
</html>
