<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <table class="table table-bordered table-striped" id="notificationTable"
         data-toggle=data-filter-control="true">
    <thead>
    <tr>
      <th>Text</th>
      <th>Sender</th>
      <th>Prioritization</th>
      <th>Ticket-Status</th>
      <th>Notification Status</th>
      <th colspan="2">Actions</th>
      <th style="display: none"> Actions</th>
    </tr>
    <tbody>
    <tr th:each="notification: ${userNotifications}">
      <td th:text="${notification.getText()}"/>
      <td th:text="${notification.getSender().getUsername()}"/>
      <a th:switch="${notification.getTicket()!=null} ">
        <a th:case="${true}">
          <a th:switch="${notification.getTicket().getPrio().toString()} ">

            <a th:case="${'LOW'}">
              <td><span class="badge text-white" style="background-color: #00E676"
                        th:text="${notification.getTicket().getPrio().toString()}"></span></td>
            </a>
            <a th:case="${'MEDIUM'}">
              <td><span class="badge text-white"
                        style="background-color: #39C0ED"
                        th:text="${notification.getTicket().getPrio().toString()}"></span>
              </td>
            </a>
            <a th:case="${'HIGH'}">
              <td><p style="display:none">z</p><span class="badge text-white"
                                                     style="background-color: #F93154"
                                                     th:text="${notification.getTicket().getPrio().toString()}"></span>
              </td>
            </a>
          </a>
          <a th:switch="${notification.getTicket().getStatus().toString()} ">
            <a th:case="${'CLOSED'}">
              <td><span class="badge text-white" style="background-color: #00E676"
                        th:text="${notification.getTicket().getStatus().toString()}"></span></td>
            </a>
            <a th:case="${'IN_PROCESS'}">
              <td><p style="display:none">i</p><span class="badge text-white"
                                                     style="background-color: #39C0ED"
                                                     th:text="${notification.getTicket().getStatus().toString()}"></span>
              </td>
            </a>
            <a th:case="${'OPEN'}">
              <td><span class="badge text-white" style="background-color: #F93154"
                        th:text="${notification.getTicket().getStatus().toString()}"></span></td>
            </a>
          </a>
        </a>
        <a th:case="${false}">
          <td><span></span></td>
          <td><span class="badge text-black-50" style="background-color: indianred"
                    th:text="${'WITHDRAWN'}"></span>
          </td>
        </a>
      </a>
      <a th:switch="${notification.isRead()} ">
        <a th:case="${true}">
          <td><span class="badge text-black-50" style="background-color: lightgray"
                    th:text="${'READ'}"></span>
          </td>
        </a>
        <a th:case="${false}">
          <td><span class="badge text-black-50" style="background-color: lightgray"
                    th:text="${'UNREAD'}"></span>
          </td>
        </a>
        <form th:action="@{/notificationRead(id=${notification.getId()})}" method="POST">
          <td>
            <button class="btn btn-primary text-white">Mark Notification as Read
            </button>
          </td>
        </form>
      </a>
      <td>

        <a th:if="${notification.getTicket()!= null}">
          <a th:onclick="'window.location.href=\'/showTicket?ticketId=' + ${notification.getTicket().getTicketId()} + '\''"
             class="btn btn-primary text-white">Show Ticket
          </a></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a th:href="@{/back}" class="btn btn-primary">Back</a>
</div>
</br>
</div>
<script>
  $(document).ready(function () {
    $('#notificationTable').DataTable({
      "columns": [{
        "orderable": true
      },
        {"orderable": true},
        {"orderable": true},
        {"orderable": true},
        {"orderable": true},
        {"orderable": false},
        {
          "orderable": false,
        }],
      responsive: true,
      paging: false
    });
  });
</script>
<br>
<footer>
  <div class="footer">
    <p><a th:href="@{/imprint}">Imprint</a></p>
    <p>©1996-2022 Gebrauchtwaren GmbH</p>
  </div>
</footer>
</body>
</html>