<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/adminDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>editTicket</title>
</head>
<body>
<div class="container">
    <div>
        <nav class="top-nav fixed-top" style="background-color: white">
            <div class="container-fluid">
                <div class="form-inline" style="float:left">
                    <a th:href="@{/back}">
                        <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-house"></i></button>
                    </a>
                </div>
                <div class="form-inline" style="float:right">
                    <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-person-circle"></i></button>
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-primary px-3 mr-2"><i class="bi bi-box-arrow-right"></i>
                        </button>
                    </a>
                </div>

            </div>
            </br>
        </nav>
    </div>
    <br/><br/></br></br>
    <h3>Edit Ticket</h3>
    <hr/>

    <div>
        <form th:action="@{/editTicket}" th:object="${ticket}" method="GET" class="form-horizontal">
            </br></form>
        <form th:action="@{/saveEditedTicket(ticketId=${ticket.getTicketId()})}" th:object="${ticket}" method="POST">
            <div class="selection"> Select prioritization:
                <select th:field="*{prio}">
                    <option th:value="LOW" th:text="low"> LOW</option>
                    <option th:value="MEDIUM" th:text="medium"> MEDIUM</option>
                    <option th:value="HIGH" th:text="high"> HIGH</option>
                </select>
            </div>
            </br>
            <div class="selection"> Select categorization:
                <select th:field="*{categorization}">
                    <option th:value="TECHNICAL_PROBLEMS" th:text="technical_Problems"> TECHNICAL_PROBLEM</option>
                    <option th:value="INACTIVITY" th:text="inactivity"> INACTIVITY</option>
                    <option th:value="OTHER" th:text="other"> OTHER</option>
                </select>
            </div>
            </br>
            <div class="selection"> Select status:
                <select th:field="*{status}">
                    <option th:value="IN_PROCESS" th:text="in_process"> IN_PROCESS</option>
                    <option th:value="OPEN" th:text="open"> OPEN</option>
                    <option th:value="CLOSED" th:text="closed"> CLOSED</option>
                </select>
            </div>
            </br>

            <div class="selection"> Select admin:
                <select th:field="*{responsibleAdmin}">

                    <th:block th:each="admin: ${admins}">
                        <option th:value="${admin.getUserId()}" th:text="${admin.getUsername()}">
                        </option>
                    </th:block>

                </select>
            </div>
            </br>
            <input type="hidden" th:field="*{ticketId}"/>
            <button class="btn btn-primary" type="submit">submit</button>
            <hr>

        </form>
        <a th:href="@{/showTicketAdmin(ticketId=${ticket.getTicketId()})}" class="btn btn-primary">Back</a>
    </div>
    </br>
</div>


</body>
</html>