<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Error Page</title>
</head>
<body>
<br><br><br><br>
<div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <center>
                        <p>Oh no! An error has ocured.</p>
                        <br>
                        <p>We´re working on finding a solution.</p>
                    </center>
                </div>
            </div>
        </div>
</div>
</body>
</html>
<style>{
    center {
        text-align:center
    }
}
</style>