<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/static/createTicket.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title> Message</title>
</head>
<body>
<div class="container">
    <form th:action="@{/getMessages}" th:object="${ticket}" method="GET" class="form-horizontal">

        <br/><br/>
        <h1>Messages</h1>
        </hr>
        <form th:action="@{/findAllMessages}" method="GET" class="form-horizontal">
            <table class="table table-bordered table-striped" id="ticketTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message: ${ticket.getMessages()}">
                    <td th:text="${message.getId()}"/>
                    <td th:text="${message.getText()}"/>
                    <td>
                        <a class="btn btn-info text-white"
                           th:onclick="'window.location.href=\'/showTicketAdmin?ticketId=' + ${ticket.getTicketId()} + '\''">Show
                            Ticket</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </form>
</div>
</body>
</html>
