<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Imprint</title>
</head>
<body>
<br><br>
<div class="container">
<h1>Imprint</h1>
    <br>
    <h2>Contact information</h2>
    <br>
    <p><b>Gebrauchtwaren GmbH</b></p>
    <p>Gartenstraße 34, 73669 Lichtenwald,</p>
    <p>Registernummer: B-180022; Business Licence Number: 10040783; Ust-ID: LU 26375245). Die Gesellschaft wird gesetzlich vertreten durch Marius Haueis.</p>
    <br>
    <h2>Copyright</h2>
    <p>Jedes Website-Design, jeder Text, alle Grafiken, jede Auswahl bzw. jedes Layout davon und jede Software sind rechtlich geschütztes Eigentum von Gebrauchtwaren GmbH. Das Kopieren oder die Reproduktion (inklusive des Ausdrucks auf Papier) der gesamten Website bzw. von Teilen dieser Website werden nur zu dem Zweck gestattet, ein Ticket zu erstellen, anzuzeigen oder zu löschen.

        Jede andere Verwendung der auf dieser Website verfügbaren Materialien bzw. Informationen -- inklusive der Reproduktion, des Weitervertriebs, der Veränderung und der Veröffentlichung zu einem anderen als dem oben genannten Zweck -- ist untersagt, es sei denn, Gebrauchtwaren GmbH hat dem vorher schriftlich zugestimmt.
    </p>
</div>
</body>
</html>