<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>

    <title>TicketMaster</title>
</head>
<body style="background: linear-gradient(to right, white,  azure, paleturquoise, paleturquoise, paleturquoise,lightgreen)">
<br><br>

<div class="container">

    <form th:action="@{/login}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="img-responsive">
                <center>
                    <img src="images/Logo.png" alt="Company Logo"/>
                </center>
            </div>
            <div class="card-body">
                <h4 class="card-title" th:text="'Ticket Master Login'"></h4>
                <div th:if="${param.error}" class="alert alert-danger">
                    <span th:text="'Login fehlgeschlagen.'"></span>
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    <span th:text="'Logout erfolgreich.'"></span>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Username</label>
                        <input type="text" id="username" name="username" th:placeholder="'Username'"
                               class="form-control"/><br/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Password</label>
                        <input type="password" th:placeholder="'Password'" id="password" name="password"
                               class="form-control"/><br/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button name="Submit" value="Login" type="Submit" th:text="'Login'" class="btn btn-primary"></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

