<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/notifications.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <title>Notifications</title>
</head>
<body>
<br/>
<div class="container">
    <div>
        <div>
            <nav class="top-nav fixed-top" style="background-color: white">
                <div class="container-fluid">
                    <div class="form-inline" style="float:left">
                        <a th:href="@{/back}">
                            <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-house"></i></button>
                        </a>
                    </div>
                    <div class="form-inline" style="float:right">
                        </button>
                        <a th:href="@{/logout}">
                            <button type="button" class="btn btn-primary px-3 mr-2"><i
                                    class="bi bi-box-arrow-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <br/><br/></br></br>
        <h3>Notifications</h3>
        <hr/>


        <div>
            <table class="table table-bordered table-striped" id="notificationTable"
                   data-toggle=data-filter-control="true">
                <thead>
                <tr>
                    <th>Text</th>
                    <th>Sender</th>
                    <th>Prioritization</th>
                    <th>Ticket-Status</th>
                    <th>Notification Status</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                <tr th:each="notification: ${userNotifications}">
                    <td th:text="${notification.getText()}"/>
                    <td th:text="${notification.getSender().getUsername()}"/>
                    <a th:switch="${notification.getTicket()!=null} ">
                        <a th:case="${true}">
                            <a th:switch="${notification.getTicket().getPrio().toString()} ">
                                <a th:case="${'LOW'}">
                                    <td><span class="badge text-white" style="background-color: #00E676"
                                              th:text="${notification.getTicket().getPrio().toString()}"></span></td>
                                </a>
                                <a th:case="${'MEDIUM'}">
                                    <td><span class="badge text-white"
                                                                           style="background-color: #39C0ED"
                                                                           th:text="${notification.getTicket().getPrio().toString()}"></span>
                                    </td>
                                </a>
                                <a th:case="${'HIGH'}">
                                    <td><p style="display:none">z</p><span  class="badge text-white" style="background-color: #F93154"
                                              th:text="${notification.getTicket().getPrio().toString()}"></span></td>
                                </a>
                            </a>
                            <a th:switch="${notification.getTicket().getStatus().toString()} ">
                                <a th:case="${'CLOSED'}">
                                    <td><span class="badge text-white" style="background-color: #00E676"
                                              th:text="${notification.getTicket().getStatus().toString()}"></span></td>
                                </a>
                                <a th:case="${'IN_PROCESS'}">
                                    <td><p style="display:none">i</p><span class="badge text-white"
                                                                           style="background-color: #39C0ED"
                                                                           th:text="${notification.getTicket().getStatus().toString()}"></span>
                                    </td>
                                </a>
                                <a th:case="${'OPEN'}">
                                    <td><span class="badge text-white" style="background-color: #F93154"
                                              th:text="${notification.getTicket().getStatus().toString()}"></span></td>
                                </a>
                            </a>
                        </a>
                        <a th:case="${false}">
                            <td><span class="badge text-black-50" style="background-color: indianred"
                                      th:text="${'WITHDRAWN'}"></span>
                            </td>
                        </a>
                    </a>
                    <a th:switch="${notification.isRead()} ">
                        <a th:case="${true}">
                            <td><span class="badge text-black-50" style="background-color: lightgray"
                                      th:text="${'READ'}"></span>
                            </td>
                        </a>
                        <a th:case="${false}">
                            <td><span class="badge text-black-50" style="background-color: lightgray"
                                      th:text="${'UNREAD'}"></span>
                            </td>
                        </a>

                        <form th:action="@{/notificationRead(id=${notification.getId()})}" method="POST">
                            <td>
                                <button class="btn btn-primary text-white" type="submit">Mark Notification as Read
                                </button>
                            </td>
                        </form>
                    </a>
                </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/back}" class="btn btn-primary">Back</a>
    </div>
    </br>
</div>
<script>
    $(document).ready(function () {
        $('#notificationTable').DataTable({
            responsive: true
        });
    });
</script>
<br>
<footer>
    <div class="footer">
        <p><a th:href="@{/imprint}">Imprint</a></p>
        <p>©1996-2022 Gebrauchtwaren GmbH</p>
    </div>
</footer>
</body>
</html>