<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/adminDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>

</head>
<body>
<div class="container">
    <div>
        <div>
            <nav class="top-nav fixed-top" style="background-color: white">
                <div class="container-fluid">
                    <div class="form-inline" style="float:left">
                        <a th:href="@{/back}">
                            <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-house"></i></button>
                        </a>
                    </div>
                    <div class="form-inline" style="float:right">
                        <a th:href="@{/logout}">
                            <button type="button" class="btn btn-primary px-3 mr-2"><i
                                    class="bi bi-box-arrow-right"></i>
                            </button>
                        </a>
                    </div>

                </div>
            </nav>
        </div>
        <br/><br/><br/><br/>
        <h3 th:text="${ticket.getTitle()}"></h3>
        <hr/>

        <div class="card">
            <div class="card-body">

                <div class="col-sm-5">
                    <div class="row">
                        <span>Ticket ID: </span>&nbsp;<span>
                        <p th:text=" ${ticket.getTicketId()}"></p></span>
                    </div>
                    <div class="row">
                        <span>Prioritization: </span>&nbsp;
                        <p th:if="${ticket.getPrio().toString()} == 'HIGH'" class="incident"><span style="display:none">z</span><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #F93154"></span></p>
                        <p th:if="${ticket.getPrio().toString()} == 'MEDIUM'" class="incident"><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #39C0ED"></span></p>
                        <p th:if="${ticket.getPrio().toString()} == 'LOW'" class="incident"><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #00E676"></span></p>

                    </div>
                    <div class="row">
                        <span>Categorization: </span>&nbsp;
                        <p th:text="${ticket.getCategorization().toString().toLowerCase()}"></p>
                    </div>
                    <div class="row">
                        <span>Date: </span>&nbsp;
                        <p th:text="${ticket.getCreationTimeString(ticket.getCreationTime())}"></p>
                    </div>
                    <div class="row">
                        <span>Admin: </span>&nbsp;
                        <p th:text="${ticket.getResponsibleAdmin().getUsername()}"></p>
                    </div>

                    <div class="row">
                        <span>User: </span>&nbsp;
                        <p th:text="${ticket.getUser().getUsername()}"></p>
                    </div>
                    <div class="row">
                        <span>Status: </span>&nbsp;
                        <p th:if="${ticket.getStatus().toString()} == 'OPEN'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #F93154"></span></p>
                        <p th:if="${ticket.getStatus().toString()} == 'IN_PROCESS'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #39C0ED"></span></p>
                        <p th:if="${ticket.getStatus().toString()} == 'CLOSED'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #00E676"></span></p>


                    </div>
                </div>
                <div class="col-sm-5">
                    <span>Content: </span>
                    <p th:text="${ticket.getContent()}"></p>
                </div>

            </div>


        </div>
        <br>
        <a th:href="@{/withdrawTicket(ticketId=${ticket.getTicketId()})}" class="btn btn-danger">Withdraw Ticket</a>
        <a th:if="${ticket.canRequestStatus()}">
            <a class="btn btn-primary" th:href="@{/requestStatus(ticketId=${ticket.getTicketId()})}">Request
                Status</a>
        </a>
        <a th:if="${!ticket.canRequestStatus()}">
            <a title="Please wait 12h until your next request" class="btn btn-primary" style="background-color:grey">Request Status</a>
        </a>

        <a class="btn btn-primary text-white"
           th:onclick="'window.location.href=\'/chatWebSockets?ticketId=' + ${ticket.getTicketId()} + '\''">Chat</a>

        <hr/>
        <a th:href="@{/back}" class="btn btn-primary">Back</a>
    </div>
    </br>
</div>
<br>
<footer>
    <div class="footer">
        <p><a th:href="@{/imprint}">Imprint</a></p>
        <p>©1996-2022 Gebrauchtwaren GmbH</p>
    </div>
</footer>
</body>
</html>