<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/userDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Userdashboard</title>
</head>
<body>
<div class="container">
    <hr/>
    <h3>Userdashboard</h3>
    <hr/>
    <form th:action="@{/user}" method="POST" class="form-horizontal">
        <div>
            <a th:href="@{/createTicket}" class="btn btn-primary">Create Ticket ➕</a>
            <div class="dropdown">
                <button type="button" class="btn btn-info px-3"><i class="bi bi-funnel"></i></button>
                <div class="dropdown-content">
                    <li class="menu">
                        <a class="dropbtn" tabindex="-1">Status<span class="caret"></span></a>
                        <ul class="dropdown-submenu">
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Open</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Closed</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">In progress</a>
                            </li>
                        </ul>
                    </li>
                    <a href="#">Admin</a>
                    <a href="#">User</a>
                    <li class="menu">
                        <a class="dropbtn" tabindex="-1">Prioritization<span class="caret"></span></a>
                        <ul class="dropdown-submenu">
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">High</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Medium</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Low</a></li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="dropbtn" tabindex="-1">Incident<span class="caret"></span></a>
                        <ul class="dropdown-submenu">
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Inactivity</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Technical problems</a></li>
                            <li><a class="btn dropbtn" tabindex="-1" th:href="@{/workInProgess}">Other</a></li>
                        </ul>
                    </li>
                </div>
            </div>

            <div style="float:right">
                <button type="button" class="btn btn-info px-3"><i class="bi bi-person-circle"></i></button>
                <div type="button" class="btn"><button type="button" class="btn btn-info px-3"><i class="bi bi-bell"></i></button></div>
                <a th:href="@{/logout}"><button type="button" class="btn btn-primary px-3"><i class="bi bi-door-closed"></i></button></a>
            </div>
        </div>
        <br/><br/>
        <form th:action="@{/findAllTickets}" method="GET" class="form-horizontal">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="ticketTable">
                    <thead>
                    <tr>
                        <th class="d-none d-md-table-cell" data-type="string">Prioritization</th>
                        <th data-type="string">Incident</th>
                        <th data-type="date">Date</th>
                        <th class="d-none d-md-table-cell" data-type="string">Admin</th>
                        <th data-type="string">Status</th>
                        <th>Actions</th>
                    </tr>
                    <tbody>
                    <tr th:each="ticket: ${userTickets}">
                        <td class="d-none d-md-table-cell" th:text="${ticket.getPrio()}"/>
                        <td th:text="${ticket.getCategorization()}"/>
                        <td th:text="${ticket.getCreationTimeString(ticket.getCreationTime())}"/>
                        <td class="d-none d-md-table-cell"th:text="${ticket.getResponsibleAdmin().getUsername()}"/>
                        <td th:text="${ticket.getStatus()}"/>
                        <td>
                            <a class="btn btn-info text-white"
                               th:onclick="'window.location.href=\'/showTicket?ticketId=' + ${ticket.getTicketId()} + '\''">Show
                                Ticket</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
</html>