<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/userDashboard.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>


    <title>Userdashboard</title>
</head>
<body>
<br>

<div class="container">
    <form th:action="@{/user}" th:object="${user}" method="GET" class="form-horizontal">
        <div>
            <div class="image-blurred-edge">
            </div>
            <nav class="top-nav fixed-top" style="background: white">
                <a th:href="@{/createTicket}" class="btn btn-primary">Create Ticket <i class="bi bi-plus-circle"
                                                                                       style="color: white"></i></a>
                <div class="dropdown">
                    <button type="button" class="btn btn-info px-3"><i class="bi bi-funnel"></i></button>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <h5 style="color: #555555">Status</h5>
                            <label><input type="checkbox" name="filter" value="OPEN"> Open</label> <br>
                            <label><input type="checkbox" name="filter" value="IN_PROGRESS"> In
                                progress</label> <br>
                            <label><input type="checkbox" name="filter" value="CLOSED"> Closed</label>
                            <hr style="border-color:lightskyblue">
                            <h5 style="color: #555555">Prioritization</h5>
                            <label><input type="checkbox" name="filter" value="zHIGH"> High</label> <br>
                            <label><input type="checkbox" name="filter" value="MEDIUM"> Medium</label> <br>
                            <label><input type="checkbox" name="filter" value="LOW"> Low</label>
                            <hr style="border-color:lightskyblue">
                            <h5 style="color: #555555">Incident</h5>
                            <label ><input type="checkbox" name="filter" value="inactivity"> Inactivity</label>
                            <br>
                            <label><input type="checkbox" name="filter" value="technical_problems"
                                                                 > Technical Problem</label> <br>
                            <label><input type="checkbox" name="filter" value="other"> Other</label>
                            <hr style="border-color:lightskyblue">
                            <button id="reset" class="btn btn-info mr-2">Reset</button>
                        </div>
                    </div>

                </div>

                <div class="form-inline" style="float:right">
                    <a th:switch="${unreadUserNotifications.isEmpty()}">
                        <a th:case="${true}" th:href="@{/notifications}" type="button"
                           class="btn btn-info px-3 mr-2"><i
                                class="bi bi-bell"></i>
                        </a>
                        <a th:case="${false}" th:href="@{/notifications}" type="button"
                           class="btn btn-info px-3 mr-2"><i
                                class="bi bi-bell"></i>
                            <span class="badge badge-light" style="color: red">!</span>
                        </a>
                    </a>
                    <button type="button" class="btn btn-info px-3 mr-2"><i class="bi bi-person-circle"></i></button>
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-primary px-3 mr-2"><i class="bi bi-box-arrow-right"></i>
                        </button>
                    </a>
                </div>

            </nav>
        </div>

        <form th:action="@{/getUserTickets}" method="GET" class="form-horizontal">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="ticketTable"
                       data-filter-control="true"
                       data-show-search-clear-button="true">
                    <thead>
                    <tr>
                        <th data-type="=int">Ticket-ID</th>
                        <th data-type="string">Title</th>
                        <th  data-type="string">Prioritization</th>
                        <th data-type="string">Incident</th>
                        <th data-type="date">Date</th>
                        <th  data-type="string">Admin</th>
                        <th data-type="string">Status</th>
                        <th>Actions</th>
                    </tr>
                    <tbody id="myTable">
                    <tr th:each="ticket: ${userTickets}">
                        <td th:text="${ticket.getTicketId()}"/>
                        <td th:text="${ticket.getTitle()}"/>
                        <div>
                        <td th:if="${ticket.getPrio().toString()} == 'HIGH'" class="incident"><span style="display:none">z</span><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #F93154"></span></td>
                        <td th:if="${ticket.getPrio().toString()} == 'MEDIUM'" class="incident"><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #FFEA00"></span></td>
                        <td th:if="${ticket.getPrio().toString()} == 'LOW'" class="incident"><span th:text="${ticket.getPrio().toString()}" class="incident badge text-white" style="background-color: #00E676"></span></td>
                        </div>
                        <td class="incident" th:text="${ticket.getCategorization().toString().toLowerCase()}"/>
                        <td th:text="${ticket.getCreationTimeString(ticket.getCreationTime())}"/>
                        <td class="d-none d-md-table-cell" th:text="${ticket.getResponsibleAdmin().getUsername()}"/>
                        <div>
                            <td th:if="${ticket.getStatus().toString()} == 'OPEN'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #F93154"></span></td>
                            <td th:if="${ticket.getStatus().toString()} == 'IN_PROCESS'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #FFEA00"></span></td>
                            <td th:if="${ticket.getStatus().toString()} == 'CLOSED'" class="incident"><span th:text="${ticket.getStatus().toString()}" class="incident badge text-white" style="background-color: #00E676"></span></td>

                        </div>
                        <td>
                            <a class="btn btn-info text-white"
                               th:onclick="'window.location.href=\'/showTicket?ticketId=' + ${ticket.getTicketId()} + '\''">Show
                                Ticket</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </form>

</div>
<script>


    $(document).ready(function () {
        $('#ticketTable').DataTable({
            "columns": [{
                "orderable": true
            },
                {"orderable": true},
                {"orderable": true},
                {"orderable": true},
                {"orderable": true},
                {"orderable": true},
                {"orderable": true},
                {
                    "orderable": false,
                }],
            paging:false
        });
    });

    $(document).ready(function () {
        $("#reset").click(function(){
            $("#myTable tr").show();
            $( "input:checkbox:checked" ).prop( "checked", false );
        });

        $("input:checkbox").on("change", function () {
            var a = $("input:checkbox:checked").map(function () {
                return $(this).val()
            }).get()
            $("#myTable tr").hide();
            var incidents = $(".incident").filter(function () {
                var incident = $(this).text(),
                    index = $.inArray(incident, a);
                return index >= 0
            }).parent().show();
        })

    });


    function colorPrio(){
        var prio = document.getElementById('prio').value;
       if(prio == "HIGH"){
           document.getElementById('prio').style.color = "#F93154";
       }
    };

</script>
</body>

</html>